.div{
    object-fit:contain;
    display: flex;
    justify-content:;
    align-content: center;
    align-self: center;
    transform: scale(1,1);
    text-align:justify;
    font-size: 3 rem;
    font-weight: bolder;
    background-color: rgb(165, 171, 247);
    color: rgb(197, 7, 7);
}