.div{
    object-fit:contain;
    display: flex;
    justify-content:center;
    align-content: center;
    align-self: center;
    transform: scale(1,1);
    text-align:justify;
    font-size: 3 rem;
    font-weight: bolder;
    background-color: rgb(165, 171, 247);
    color: rgba(156, 7, 197, 0.513);
    font-size: larger;
}